@mixin setBorder ($dir) {
    & {
        position: relative;
    }

    &:after {
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        z-index: -1;

        border: 1px solid transparent;

        border-#{$dir}-color: #ccc;

        @media screen and (-webkit-min-device-pixel-ratio: 2){
            width: 200%;
            height: 200%;
            transform: scale(.5) translate(-50%, -50%);
        }

        @media screen and (-webkit-min-device-pixel-ratio: 3){
            width: 300%;
            height: 300%;
            transform: scale(.3333) translate(-100%, -100%);
        }
    }
}